body{
    font-family: Helvetica, 'sans-serif';
}

main{
    background-color: rgb(44, 41, 41);
    padding-top: 30px;
}

.container{
    padding: 0 10px;
}

.titulo-secao{
    color: white;
    font-size: 1.6em;
}

.btn-anterior, .btn-proximo{
    color: #ffa90c;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 2.2em;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.btn-anterior{
    position: absolute;
    left: 0;
}

.btn-proximo{
    position: absolute;
    right: 0;
}

/*HEADER*/
.main-header{
    background-color: #ffa90c;
    color: white;
    padding-top: 12px;
    padding-bottom: 10px;
}

.container-topo-header{
    display: grid;
    grid-template-columns: 6% 54% 40%;
    grid-template-rows: auto;
    grid-gap: 0;
}

.btn-menu-aberto{
    cursor: pointer;
    font-size: 1.4em;
    text-align: left;
    background-color: #ffa90c;
    display: inline-block;
    position: absolute;
    padding: 8px;
    right: 0;
    top: 0;
}

.btn-menu{
    cursor: pointer;
    font-size: 1.4em;
    text-align: left;
}

.logo{
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
}

.main-header .logo:visited{
    color: white;
    text-decoration: none;
}

.main-header .logo:hover{
    color: white;
    text-decoration: none;
}

.opcoes-header{
    text-align: right;
}

.opcoes-header .perfil, .favoritos, .cesta{
    display: inline-block;
    margin: 0 4px;
    font-size: 1.7em;
}

.opcoes-header .lojas{
    display: inline-block;
    margin: 0 4px;
    font-size: 1.4em;
}

.container-busca .campo-busca{
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    box-sizing: border-box;
}

#busca-inline{
    display: none;
    color: #ffa90c;
}

.campo-busca:focus{
    box-sizing: border-box;
    padding: 10px;
    border-color: transparent;
}

.btn-busca{
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: -45px;
    background-color: #ffa90c;
}

#busca-inline .btn-busca{
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: -45px;
    background-color: white;
}

/*MENU DO HEADER ABERTO*/
.container-menu{
    width: 265px;
    height: 700px;
    border: 1px solid black;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    overflow-y: auto;
    z-index: 3;
    transform: translateX(-265px);
}

.container-menu .interno{
    z-index: 4;
}

.topo-div-menu{
    background-color: #ffa90c;
    color: white;
    font-size: 1.4em;
    padding: 30px 0 16px 10px;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    position: relative;
}

.menu{
    margin: 0;
    padding: 0;
    z-index: 4;
}

.menu li{
    list-style: none;
    font-size: 0.9em;
    z-index: 5;
    color: black;
}

.menu .btn-expandir-menu{
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    padding: 12px 10px;
    width: 100%;
}

.menu .btn-expandir-menu i{
    float: right;
}

.menu-interno{
    margin: 0;
    padding: 0;
}

.menu-interno li{
    list-style: none;
    padding: 13px 10px;
    color: black;
}

.btn-menu-interno{
    cursor: pointer;
    font-size: 1.4em;
}

/*CARROSEL DE APRESENTAÇÃO DE CONSOLES*/
.carrosel-consoles .btn-anterior, .carrosel-consoles .btn-proximo{
    margin-top: 135px;
}

.carrosel-consoles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 0;
    margin: auto;
    padding: 0;
    height: 317px;
    max-width: 1250px;
    overflow-x: hidden;
    box-sizing: border-box;
    position: relative;
}

.carrosel-consoles img{
    transition: transform 0.4s;
}

/*CARROSEL DE CATEGORIAS*/
.categorias{
    position: relative;
}

.carrosel-categorias{
    display: flex;
    overflow-x: hidden;
}

.carrosel-categorias img{
    width: 150px;
    height: 190px;
    margin: 5px 10px 5px 10px;
}

.carrosel-categorias .btn-anterior, .carrosel-categorias .btn-proximo{
    margin-top: 50px;
}

/*PRODUTOS EM DESTAQUE*/
.produtos-destaque{
    padding-bottom: 30px;
}

.container-produtos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: auto;
    grid-gap: 10px;
}

.produto{
    background-color: white;
    padding: 8px;
    box-sizing: border-box;
    line-height: 1;
}

.produto figure{
    width: 100%;
    margin: 0;
}

.produto figure img{
    width: 100%;
}

.produto figure figcaption{
    color: rgb(109, 107, 107);
    font-size: 0.9em;
}

.produto .desconto{
    color: rgb(109, 107, 107);
    font-size: 0.8em;
}

.produto .preco{
    color: black;
    font-weight: bold;
    font-size: 1.1em;
}

/*FOOTER*/
.main-footer{
    color: rgb(109, 107, 107);
}

.menu-footer{
    padding: 0;
}

.main-footer .logo:visited{
    color: rgb(109, 107, 107);
    text-decoration: none;
}

.main-footer .logo:hover{
    color: rgb(109, 107, 107);
    text-decoration: none;
}

.menu-footer li{
    list-style: none;
    display: block;
    margin-bottom: 35px;
}

.menu-footer a, .menu-footer a:visited{
    color: rgb(109, 107, 107);
    text-decoration: none;
}

.menu-footer a:hover{
    color: #ffa90c;
    text-decoration: underline;
}

.redes-sociais, .infos-footer{
    background-color: rgb(236, 233, 233);
    text-align: center;
}

.redes-sociais{
    padding: 20px 0 20px 0;
    font-size: 1.3em;
}

.redes-sociais a, .redes-sociais a:visited{
    color: rgb(109, 107, 107);
}

.redes-sociais i{
    margin: 0 8px 0 8px;
}

.infos-footer{
    padding: 20px 0 20px 0;
    border-top: 1px solid rgb(168, 167, 167);
}

.infos-footer address{
    margin-top: 20px;
}

@media screen and (min-width: 765px){
    .container{
        padding: 0 30px;
    }

    /*.carrosel-categorias{
        border: 1px solid red;
    }

    .categorias{
        border: 1px solid green;
    }*/

    .carrosel-categorias .btn-anterior, .carrosel-categorias .btn-proximo{
        margin: 60px 10px 0 10px;
    }

    /*HEADER*/
    .main-header{
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .container-topo-header{
        grid-template-columns: 6% 20% 49% 25%;
    }
    
    .container-busca .campo-busca{
        margin: 0;
    }

    #busca-inline{
        display: inline-block;
    }
        
    #busca-bloco{
        display: none;
    }

    /*PRODUTOS EM DESTAQUE*/
    .produtos-destaque{
        padding-bottom: 20px;
    }

    /*FOOTER*/
    .main-footer{
        text-align: center;
        margin-top: 30px;
    }
}